@import './_form.styl';
@import './_chart.styl';

.wrong{
	border:1px solid red;
}

.heading{
	text-align: center;
	font-size: 50px;
}

@media screen and (max-width: 1300px){

.heading{
	margin-top: 20px;
}
	.formDiv{
	/*border:2px solid red;*/
	width: 70%;
	height: 500px;
	margin-top: 30px;
	margin-left: 15%;
}

.chartDiv{
	display: block;
	/*border:1px solid green;*/
	width: 55%;
	margin-left: 15%;
	margin-top: 20%;
}
}







