.formDiv{
	/*border:2px solid red;*/
	width: 55%;
	display: inline-block;
	float: left;
	height: 460px;
	margin-top: 10px;
}

.form{
	display: inline-block;
	overflow-y: scroll;
	width: 100%;
	height: 100%;
}

.dropDownMenu{
	width: 140px;
	height: 27px;
	padding-left: 10px;
	margin-left: 25px;
	background-color: #FFF;
	border-radius: 0.2em;
}

.quest{
	border:1px solid #c0c0c0;
	margin:0 3% 2.5% 3%;
	height: 20%;
	border-radius: 0.4em;
}

.qstatement{
	background-color: #640729;
	color: #FFF;
border-radius: 0.4em 0.4em 0 0;
	padding: 5px 10px;
}

.btn-submit{
	margin-left: 15%;
	width: 25%;
	height: 30px;
	font-weight: bold;
	background-color: #c0c0c0;
	border:none;
	border-radius: 0.2em;
	outline: none;
	margin-top: 10px;
}

.unanswered{
	border: 2px solid #006dcc;
}

.note{
	margin-left: 15%;
	margin-top: 10px;
}
